<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MySQL"
			 connectionString="Server=10.10.1.80;Port=3306;Database=TagsManage;Uid=1023711;Pwd=HtsUsr.1;CharSet=utf8mb4;"
			 providerName="MySql.Data.MySqlClient"/>

		<add name="ErpSQLServer"
			 connectionString="Data Source=10.10.1.98; User ID=hshts; Password=hshts0718; Initial Catalog=Hansong;Connect Timeout=30;Encrypt=False"
			 providerName="System.Data.SqlClient"/>

		<add name="TeamSQLServer"
			 connectionString="Data Source=10.10.1.146; User ID=hts; Password=adminhts; Initial Catalog=HS_MES_PROD;Connect Timeout=30;Encrypt=False"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>